body {
    background-color: white;
    font-family: monospace;
    align-items: center;
    color: 1C1D21;
    justify-content: center;
}

h1 {
    font-family: monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
